{% extends 'base.html.twig' %}

{% block title %}Ambientes{% endblock %}
{% block ambiente3 %}active{% endblock %}

{% block body %}
<div class="container-fluid mt-5">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="misTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active"
                id="tab-activa"
                data-bs-toggle="tab"
                data-bs-target="#contenido-activa"
                type="button"
                role="tab"
                aria-controls="contenido-activa"
                aria-selected="true">
          Active
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="tab-link"
                data-bs-toggle="tab"
                data-bs-target="#contenido-link"
                type="button"
                role="tab"
                aria-controls="contenido-link"
                aria-selected="false">
          Link
        </button>
      </li>
    </ul>
  </div>

  <!-- Paneles de contenido -->
  <div class="tab-content" id="contenidoTabs">
    <div class="tab-pane fade show active"
         id="contenido-activa"
         role="tabpanel"
         aria-labelledby="tab-activa">
      <div class="card-body">
        <h5 class="card-title">Pestaña Activa</h5>
        <p class="card-text">Contenido de la primera pestaña.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>

    <div class="tab-pane fade"
         id="contenido-link"
         role="tabpanel"
         aria-labelledby="tab-link">
      <div class="card-body">
        <h5 class="card-title">Segunda Pestaña</h5>
        <p class="card-text">Contenido de la segunda pestaña.</p>
        <a href="#" class="btn btn-secondary">Otra acción</a>
      </div>
    </div>
  </div>
</div>






</div>
{% endblock %}
