{% extends 'base.html.twig' %}

{% block title %}Reportes{% endblock %}
{% block reportesLink %}active{% endblock %}

{% block body %}
<div class="container mt-5">
	<h2 class="text-center">Acerca de</h2>


</div>
{% endblock %}
