{% extends 'base.html.twig' %}

{% block title %}Ambientes{% endblock %}
{% block ambientesLink %}text-white{% endblock %}

{% block body %}
<div class="container-xxl mt-5">
		<div class="row mt-4">

			<div class="col-md-4 mb-3 mb-md-1">
				<div class="card shadow">
					<h5 class="card-header text-center text-white text-bg-danger" id="monitor1">Ambiente 1</h5>
					<div class="card-body">
						<table class="table table-borderless">
							<tr>
								<td class="text-end">
									<span class="fs-1"><b>Temp: </b></span>
								</td>
								<td>
									<span class="fs-1" id="temp1">--.-</span>
									<small class="fs-2"> °C</small>
								</td>
							</tr>
							<tr>
								<td class="text-end">
									<span class="fs-1"><b>Hum: </b></span>
								</td>
								<td>
									<span class="fs-1" id="hum1">--.-</span>
									<small class="fs-2"> %</small>
								</td>
							</tr>
						</table>
						<p class="card-text text-center fs-5">
						<small>Última lectura: <span id="fecha1">--.--</span></small>
						</p>
						
						<hr>
						
						 <table class="table table-borderless">
							<tr>
								<td class="text-end"><span>Ventilador: </span></td>
								<td><span id="estadoVent1" class="badge bg-orange">Sin Datos</span>
							</tr>
							<tr>
								<td class="text-end"><span>Calentador: </span></td>
								<td><span id="estadoCalent1" class="badge bg-orange">Sin Datos</span>
							</tr>
							<tr>
								<td class="text-end">Nivel de Agua: </td>
								<td><span id="estadoNivel1" class="badge bg-orange">Sin Datos</span></td>
							</tr>
							<tr>
								<td class="text-end">Humidificador: </td>
								<td><span id="estadoHumi1" class="badge bg-orange">Sin Datos</span></td>
							</tr>
						</table>

						<div class="text-center">
							<a class="btn btn-primary {% block ambiente1Link %}{% endblock %}" href="/umsa-iem/public/?action=ambiente1" role="button">Detalles</a>
							<a class="btn btn-danger" href="#" role="button">Parar</a>
						</div>

					</div>
				</div>
			</div>

			<div class="col-md-4 mb-3 mb-md-1">
				<div class="card shadow">
					<h5 class="card-header text-center text-bg-danger" id="monitor2">Ambiente 2</h5>
					<div class="card-body">

						<table class="table table-borderless">
							<tr>
								<td class="text-end">
									<span class="fs-1"><b>Temp: </b></span>
								</td>
								<td>
									<span class="fs-1" id="temp2">--.-</span>
									<small class="fs-2"> °C</small>
								</td>
							</tr>
							<tr>
								<td class="text-end">
									<span class="fs-1"><b>Hum: </b></span>
								</td>
								<td>
									<span class="fs-1" id="hum2">--.-</span>
									<small class="fs-2"> %</small>
								</td>
							</tr>
						</table>
						<p class="card-text text-center fs-5">
						<small>Última lectura: <span id="fecha2">--.--</span></small>
						</p>

						<hr>
						
						 <table class="table table-borderless">
							<tr>
								<td class="text-end"><span>Ventilador: </span></td>
								<td><span id="estadoVent2" class="badge bg-orange">Sin Datos</span>
							</tr>
							<tr>
								<td class="text-end"><span>Calentador: </span></td>
								<td><span id="estadoCalent2" class="badge bg-orange">Sin Datos</span>
							</tr>
							<tr>
								<td class="text-end">Nivel de Agua: </td>
								<td><span id="estadoNivel2" class="badge bg-orange">Sin Datos</span></td>
							</tr>
							<tr>
								<td class="text-end">Humidificador: </td>
								<td><span id="estadoHumi2" class="badge bg-orange">Sin Datos</span></td>
							</tr>
						</table>

						<div class="text-center">
							<a class="btn btn-primary {% block ambiente2Link %}{% endblock %}" href="/umsa-iem/public/?action=ambiente2" role="button">Detalles</a>
							<a class="btn btn-danger" href="#" role="button">Parar</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-3 mb-md-1">
				<div class="card shadow">
					<h5 class="card-header text-center text-bg-danger" id="monitor3">Ambiente 3</h5>
					<div class="card-body">

						<table class="table table-borderless">
							<tr>
								<td class="text-end">
									<span class="fs-1"><b>Temp: </b></span>
								</td>
								<td>
									<span class="fs-1" id="temp3">--.-</span>
									<small class="fs-2"> °C</small>
								</td>
							</tr>
							<tr>
								<td class="text-end">
									<span class="fs-1"><b>Hum: </b></span>
								</td>
								<td>
									<span class="fs-1" id="hum3">--.-</span>
									<small class="fs-2"> %</small>
								</td>
							</tr>
						</table>
						<p class="card-text text-center fs-5">
						<small>Última lectura: <span id="fecha3">--.--</span></small>
						</p>

						<hr>
						
						 <table class="table table-borderless">
							<tr>
								<td class="text-end"><span>Ventilador: </span></td>
								<td><span id="estadoVent3" class="badge bg-orange">Sin Datos</span>
							</tr>
							<tr>
								<td class="text-end"><span>Calentador: </span></td>
								<td><span id="estadoCalent3" class="badge bg-orange">Sin Datos</span>
							</tr>
							<tr>
								<td class="text-end">Nivel de Agua: </td>
								<td><span id="estadoNivel3" class="badge bg-orange">Sin Datos</span></td>
							</tr>
							<tr>
								<td class="text-end">Humidificador: </td>
								<td><span id="estadoHumi3" class="badge bg-orange">Sin Datos</span></td>
							</tr>
						</table>

						<div class="text-center">
							<a class="btn btn-primary {% block ambiente3Link %}{% endblock %}" href="/umsa-iem/public/?action=ambiente3" role="button">Detalles</a>
							<a class="btn btn-danger" href="#" role="button">Parar</a>
						</div>
					</div>
				</div>
			</div>

			</div>
		</div>

</div>
	
<script>
//***********************************************
//OBTENIENDO ELEMENTOS DEL DOCUEMTO HTML
//valores para el panel 1
const temp1 = document.getElementById('temp1');
const hum1 = document.getElementById('hum1');
const fecha1 = document.getElementById('fecha1');
const monitor1 = document.getElementById('monitor1');
const estadoVent1 = document.getElementById('estadoVent1');
const estadoCalent1 = document.getElementById('estadoCalent1');
const estadoNivel1 = document.getElementById('estadoNivel1');
const estadoHumi1 = document.getElementById('estadoHumi1');

//valores para el panel 1
const temp2 = document.getElementById('temp2');
const hum2 = document.getElementById('hum2');
const fecha2 = document.getElementById('fecha2');
const monitor2 = document.getElementById('monitor2');
const estadoVent2 = document.getElementById('estadoVent2');
const estadoCalent2 = document.getElementById('estadoCalent2');
const estadoNivel2 = document.getElementById('estadoNivel2');
const estadoHumi2 = document.getElementById('estadoHumi2');

//valores para el panel 1
const temp3 = document.getElementById('temp3');
const hum3 = document.getElementById('hum3');
const fecha3 = document.getElementById('fecha3');
const monitor3 = document.getElementById('monitor3');
const estadoVent3 = document.getElementById('estadoVent3');
const estadoCalent3 = document.getElementById('estadoCalent3');
const estadoNivel3 = document.getElementById('estadoNivel3');
const estadoHumi3 = document.getElementById('estadoHumi3');
//***********************************************

const DEVICE_ID_1 = 'esp_amb1';

//conectando al websocket
//const wsServer = 'ws://10.245.59.12:8080';
const wsServer = 'ws://192.168.1.8:8080';
let websocket = null;
let intervalo_reconex = 5000; //reconexion cada 5 seg
let contador_reconex = 0;
let intervaloHeartbeat = null;

function conectarWS(){
	if (contador_reconex <= 50){
		//creando el objeto websocket
		websocket = new WebSocket(wsServer);

		//ABRIR
		websocket.onopen = function (event) {
			console.log("Connected to WebSocket server.");
			contador_reconex = 0;

			//limpiando heartbeat si lo hubiera
			if (intervaloHeartbeat){
				clearInterval(intervaloHeartbeat);
				intervaloHeartbeat = null;
			}

			//intervalo de para enviar un heartbeat
			intervaloHeartbeat = setInterval(() => {
				if (websocket.readyState === WebSocket.OPEN) {
					const heartbeat = {
						id_disp: "cliente_web",
						action: "heartbeat",
						estado: "vivo",
					};

					websocket.send(JSON.stringify(heartbeat));
					console.log(heartbeat);
				}
			}, 15000);


			monitor1.classList.remove('bg-warning', 'bg-danger');
		};
	
		//MENSAJE
		websocket.onmessage = function (event){
			try{
				//data son los datos emitidos y estos son guardados en datos_atrapados
				const datos_atrapados = JSON.parse(event.data);
				console.log(datos_atrapados);

				if (datos_atrapados.action === 'datos_actualizados' && datos_atrapados.id_disp === DEVICE_ID_1){
					temp1.innerText = parseFloat(datos_atrapados.temp).toFixed(1);
					hum1.innerText = parseFloat(datos_atrapados.hum).toFixed(1);
					fecha1.innerText = datos_atrapados.fecha;
						
					// Efecto visual: parpadeo suave en el log para saber que está vivo
					monitor1.classList.add('bg-warning');
					setTimeout(() => {
						monitor1.classList.remove('bg-warning');
						monitor1.classList.add('bg-success');
						//monitor1.innerText = "Conectado"; 
					}, 150);
				}

				else if (datos_atrapados.action === 'feedbackVent' && datos_atrapados.id_disp === DEVICE_ID_1){
					if (datos_atrapados.estado_ahora == 1){
						estadoVent1.innerText = 'Activado';
						estadoVent1.classList.remove('bg-danger', 'bg-orange', 'bg-warning');
						estadoVent1.classList.add('bg-success');
					}
					else if (datos_atrapados.estado_ahora == 0){
						estadoVent1.innerText = 'Desactivado';
						estadoVent1.classList.remove('bg-success', 'bg-orange', 'bg-warning');
						estadoVent1.classList.add('bg-danger');
					}
				}
				else if (datos_atrapados.action === 'feedbackCalent' && datos_atrapados.id_disp === DEVICE_ID_1){
					if (datos_atrapados.estado_ahora == 1){
						estadoCalent1.innerText = 'Activado';
						estadoCalent1.classList.remove('bg-danger', 'bg-orange', 'bg-warning');
						estadoCalent1.classList.add('bg-success');
					}
					else if (datos_atrapados.estado_ahora == 0){
						estadoCalent1.innerText = 'Desactivado';
						estadoCalent1.classList.remove('bg-success', 'bg-orange', 'bg-warning');
						estadoCalent1.classList.add('bg-danger');
					}
				}
				else if (datos_atrapados.action === 'feedbackHumi' && datos_atrapados.id_disp === DEVICE_ID_1){
					if (datos_atrapados.estado_ahora == 1){
						estadoHumi1.innerText = 'Activado';
						estadoHumi1.classList.remove('bg-danger', 'bg-orange', 'bg-warning');
						estadoHumi1.classList.add('bg-success');
					}
					else if (datos_atrapados.estado_ahora == 0){
						estadoHumi1.innerText = 'Desactivado';
						estadoHumi1.classList.remove('bg-success', 'bg-orange', 'bg-warning');
						estadoHumi1.classList.add('bg-danger');
					}
				}

			}
			catch(error){
				console.error("Error al atrapar los datos", error);	
			}
		}

		//CERRAR
		websocket.onclose = function (event) {
			//limpiando heartbeat para la desconexion
			if (intervaloHeartbeat){
				clearInterval(intervaloHeartbeat);
				intervaloHeartbeat = null;
			}

			console.log("Disconnected");
			monitor1.classList.remove('bg-success', 'bg-warning');
			monitor1.classList.add('bg-danger');
			//monitor1.innerText = "Desconetado"; 
			estadoVent1.innerText = 'Sin Datos';
			estadoVent1.classList.remove('bg-success', 'bg-danger', 'bg-warning');
			estadoVent1.classList.add('bg-orange');

			//intentando reconectar
			setTimeout(function(){
				conectarWS();
			}, intervalo_reconex);
		};

		//ERROR
		websocket.onerror = function (event, e) {
		console.log('Error occurred: ' + event.data);
		};
	}
	else {
		console.log("Los intentos de reconexion han llegado a su limite");
	}
	contador_reconex++;

}

//***********************************************************************
//conectado con el servidor WebScket
conectarWS();
//***********************************************************************

//RECUPERAR ULTIMOS DATOS DE TEMPERATURA Y HUMEDAD
//funcion para obtener el ultimo desde la base de datos
async function cargarUltimosDatos(){
	//se buscan los ultimos datos de temperatura, humedad y fecha
	try{
		const response = await fetch(`?action=consulta_datos&id_disp=${DEVICE_ID_1}`);
		const datos = await response.json();

		if (datos.estado === 'datos_recuperados'){
			console.log("Datos recuperados de la BD: ", datos);
			//actualizando los datos en la interfaz
			temp1.innerText = parseFloat(datos.temp).toFixed(1);
			hum1.innerText = parseFloat(datos.hum).toFixed(1);
			fecha1.innerText = datos.fecha;
		}
	}
	catch (error){
		console.error("Error al recuperar los datos: ", error);
	}
}

document.addEventListener("DOMContentLoaded", function() {
	cargarUltimosDatos();
});













//    // Ruta del archivo JSON
//    const jsonURL = "../json_files/esp32_amb1_th.json";
//
//    // Función para actualizar datos
//    async function actualizarDatos() {
//      try {
//        const response = await fetch(jsonURL + '?t=' + new Date().getTime()); // evita caché
//        if (!response.ok) throw new Error("No se pudo leer el archivo JSON");
//
//        const data = await response.json();
//
//        // Mostrar valores
//        document.getElementById("temp1").textContent = data.temperatura_amb1 + " °C";
//        document.getElementById("hum1").textContent = data.humedad_amb1 + " %";
//        document.getElementById("timestamp").textContent = "Últimos datos: " + data.tiempo_registro;
//
//        console.log("Datos recibidos:", data);
//      } catch (error) {
//        console.error("Error al leer el JSON:", error);
//        document.getElementById("timestamp").textContent = "Error al obtener datos.";
//      }
//    }
//
//    // Ejecutar al cargar y cada 5 segundos
//    actualizarDatos();
//    setInterval(actualizarDatos, 5000);
  </script>

{% endblock %}
